<!DOCTYPE html>
<html>

<head>
    <title>Admin - Link Generated</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            --color-gray-300: oklch(87.2% .01 258.338);
            --color-gray-400: oklch(70.7% .022 261.325);
            --color-gray-500: oklch(55.1% .027 264.364);
            --color-gray-600: oklch(44.6% .03 256.802);
            --color-gray-800: oklch(27.8% .033 256.848);
            --color-gray-900: oklch(21% .034 264.665);
            --light-text: var(--color-gray-300);
            --dim-text: var(--color-gray-400);

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: var(--color-gray-900);
            color: var(--light-text);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            padding: 0;
            margin: 0;
        }

        button {
            padding: 10px 15px;
            background-color: #615fff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            min-width: 14rem;
            min-height: 3rem;
        }

        body * {
            margin-bottom: 1rem;
        }

        button:hover {
            background-color: #4b47c9;
        }
    </style>
</head>

<body>
	<h1>Link Generated</h1>
	<a id="copy-link" href="{{ .Link }}" onclick="return clickfunc()"><button>Copy Link</button></a>
	<a href="/auth/token"><button>Generate Another</button></a>
</body>

<script>
document.getElementById('copy-link').onclick = function() {
    navigator.clipboard.writeText(this.href);
    window.alert("Link copied to clipboard!");
    return false
};
</script>

</html>